* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 40px;
}

input, button {
    display: block;
    padding: 6px;
    margin-bottom: 8px;
    width: 100%;
}

button {
    background-color: rgb(68, 241, 82);
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    border-radius: 30px;
}

button:hover {
    background-color: rgb(4, 158, 17);
}

.success-message {
    background-color: rgb(4, 158, 17);
    margin-top: 30px;
    padding: 16px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    display: none;
}

p#inputNumber {
    background-color: red;
    color: #fff;
    padding: 4px;
    margin-bottom: 8px;
    display: none;
}

.field-value-error {
    background-color: red;
    color: #fff;
    padding: 8px;
    margin-bottom: 8px;
    display: none;
}